.player {
    font-family: "Syne Mono", monospace;
}

.container {
    margin: 5px;
    padding: 15px;
    text-align: center;
    background: #eeebdd;
    display: flex;
    flex-direction: column;
}
.active {
    background-color: #c5c1ad;
}
.count {
    border-radius: 50%;
    padding: 5px 20px;
    margin: 50px auto;
}

.total {
    border: 1px solid #810000;
    background: #630000;
    color: #eeebdd;
    padding: 5px;
    margin: 5px;
    padding: 5px;
    border-radius: 20px;
}

@media (max-width: 830px) {
    .container {
        margin: 2px;
        padding: 5px;
    }
}