.dice {
    background: #580c48;
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: max-content;
    border-radius: 40px;
}

img {
    width: 45%;
    height: 80%;
}
