.func-container {
    display: flex;
    flex-direction: column;
    background: #eeebdd;
    width: 100vw;
    height: 30vh;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: 50%;
    margin-left: 20%;

}

.foot-container {
    margin-left: 47%;
    
}